<div class="container">
    <div class="row">
        <div class= "col-md-6 col-md-offset-3">
           <h1>Within a few hours you will receive an email about the successful import of products!</h1>
        </div>
    </div>
</div>
<br>

<%#= ShopifyAPI::Shop.current%>