<div class= "container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <center>
                <h2>Start of the parsing categories</h2>
                <p>
                    Please wait!
                </p>
                <br><br>
                <div id="fountainG">
                	<div id="fountainG_1" class="fountainG"></div>
                	<div id="fountainG_2" class="fountainG"></div>
                	<div id="fountainG_3" class="fountainG"></div>
                	<div id="fountainG_4" class="fountainG"></div>
                	<div id="fountainG_5" class="fountainG"></div>
                	<div id="fountainG_6" class="fountainG"></div>
                	<div id="fountainG_7" class="fountainG"></div>
                	<div id="fountainG_8" class="fountainG"></div>
                </div>
            </center>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    var auto_refresh = setInterval(
    function(){
        // console.log('test function');
        $.ajax({
            url: '/check_categories_parsing',             
            type : "GET",
            dataType: 'json',
            cache: false,
            success: function (data) { 
            location.href = data.path;
            console.log(data);
            }               
         });
        }, 5000);
});  
</script>