<div class="container">
  <div class = "row">
    <div class="col-md-4 col-md-offset-4">
        <h4>Get started with the Magento Parser</h4>
        <p>Import products and collections from your Magento store</p>
        <p>Magento Importer</p>
        <p>You have been authorized to access <b><%= Login.last.store_url%></b></p>
        <p>Start importing from Magento</p>
        <br>
        <br>
        <%= link_to "Start import", category_parsing_path, class: "start_parsing_categories"%>
    </div>
  </div>
</div>
